{% extends 'base.html.twig' %}

{% block title %}Administration {% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row py-4">
            <div class="col-lg-6 mx-auto shadow py-4">
                <hr>
                <div class="container-fluid">

                    <!-- Formulaire -->

                        <h1>Please verified your Email </h1>

                    <!-- Formulaire -->
        
                </div>
            </div>
        </div>
    </div>
{% endblock %}

